@media(max-width: 1300px ) {
    .sec-head17{
        display: none;
    }
    .sec-head16{
        display: none;
    }
}
@media(max-width: 1100px ) {
    .sec-head15{
        display: none;
    }
    .sec-head14{
        display: none;
    }
    .head4 ,.head6{
        display: none;
    }
    .head5{
        padding-left: 10px;
    }
}
@media(max-width: 950px ) {
    .sec-head13{
        display: none;
    }
    .sec-head12{
        display: none;
    }
}
@media(max-width: 850px ) {
    .sec-head11{
        display: none;
    }
    .sec-head10{
        display: none;
    }
    .sec-head9{
        display: none;
    }
    .sec-head8{
        display: none;
    }
    .head7{
        display: none;
    }
}
@media(max-width: 900px ) {
    .head3{
        flex: none;
    }
}